---
import Giscus from './Giscus.astro'
import Twikoo from './Twikoo.astro'
interface Props {
  post: Post
}

const { slug } = Astro.props.post
const { comments } = Astro.locals.config

const path = `/posts/${slug}`

let commentService = ''
if (comments && comments.disqus) {
  commentService = 'disqus'
} else if (comments && comments.giscus) {
  commentService = 'giscus'
} else if (comments && comments.twikoo) {
  commentService = 'twikoo'
}
---

<div py-16>
  {commentService === 'giscus' && <Giscus />}
  {commentService === 'twikoo' && <Twikoo path={path} />}
  {commentService === '' && null}
</div>
