---
import Giscus from './Giscus.astro'
interface Props {
  post: Post
}

const { comments } = Astro.locals.config

let commentService = ''
if (comments && comments.disqus) {
  commentService = 'disqus'
} else if (comments && comments.giscus) {
  commentService = 'giscus'
}
---

<div py-16>
  {commentService === 'giscus' && <Giscus />}
  {commentService === '' && null}
</div>
